:root {
  --color-red: #d1292a;
  --color-green: #329840;
  --color-button-stop: #9b0000;
  --color-button-next: #1899d6;
  --color-button-next-after: #1cb0f6;
  --color-button-stop-after: #df2e2e;
}
